@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');


:root {
  --primary-white : #fff;
  --primary-blue : rgb(35, 155, 202);
  --primary-dark : rgba(255,255,255,0);
  --primary-green : rgb(0, 255, 149);
  --primary-hover-green : #247c62;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}




/* ************************   NAVBAR *************************************** */

.logo {
  width: 3rem;
}

/* **********************menu links *********************************** */

nav a.nav-link {
  font-weight: 200;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  /* margin-right : 0s.75rem; */
  /* margin-left: 5.75rem; */
  padding-right: 25px !important;
  padding-left: 25px !important;
  color: var(--primary-white) !important;
  border-bottom:  0.1875rem solid var(--primary-dark)
}


.navbar-brand {
  max-width: 17..25em;
  padding: 0;
  height: 4rem  !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-bottom: 0.1875rem solid var(--primary-green);
}
.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-green);
}

/* *********** HEADER *************** */
.header-wrapper{
  position: relative;
  background : url(header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-info{
    /* background-color: aliceblue; */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.header-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/* *********** TYPED- TEXT *************** */
.typed-text {
  font-size: 2rem;
  color : var(--primary-white);
  font-family: cursive;
}

/*  *********** header - Button *************** */
.header-btn{
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;

}
.header-btn:hover{
  text-decoration: none;
  background-color: var(--primary-hover-green);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}


/* ************ PARTICLE******************** */
.particle{
  position: absolute;
  height: 100%;
  width: 100%;
}

@media(max-width : 768px) {
  .particle {
    display: none;
  }
}